.plan-title{
    margin-bottom:10px;
    font-size:16px;
    >span:first-child{
        display: inline-block;
        width:85%;
        -webkit-line-clamp:1;
    }
    .plan-btn{
        color:#4988eb;
        margin-left: 2px;
        cursor: pointer;
    }
}

.plan-content{
    padding-bottom: 10px;
    margin-left: 20px;
    border-bottom:1px solid #ececec;
}

.form-plan{
    padding:20px 20px 0px 10px;
}