@import '@/assets/globalStyle.scss';
.industry-table{
    padding:0px 20px 10px 0px;
    &.table-info{
        padding-left:20px;
    }
    >table{
        width:100%;
        border-collapse: collapse;
        th,tr,td{
            border:1px solid $borderColor;
            line-height: 30px;
        }
        thead{
            background: #F7F7F7;
        }
        tr{
            td{
                width:calc(100% / 6);
                &:nth-child(1){
                    background: #F7F7F7;
                    text-align: center;
                }
                &:not(:first-child){
                    cursor: pointer;
                }
                &.info-text{
                    cursor: text;
                    padding-left:7px;
                }
            }
        }
    }
}