.header-box{
    background: #ffffff;
    padding:15px 20px 0px 20px;
    box-sizing: border-box;
}

.form-box{    
    margin-top: 20px;
    .header-input{
        width:300px;
    }
}

.btn-box{
    padding:20px 15px 30px 15px;
    background: #ffffff;
}

.add-btn{
    width:120px;
    margin-right: 20px;
}