@import '@/assets/globalStyle.scss';
.navbar,.navbar-toggle{
    position: absolute;
    left:175px;
    top:0;
    height: 50px;
    line-height: 50px;
    transition: all 0.2s ease;
    span{
        float: left;
        padding:0 15px;
        cursor: pointer;
        color:#fff;
        height: 100%;
        line-height: 50px;
        font-size: 12px;
        &:hover{
            background: rgba(0,0,0,0.1);
        }
    }
}
.navbar{
    width:calc(100% - 237px);
}
.navbar-toggle{
    width:calc(100% - 117px);
    left:55px;
}
span{
    float: left;
    padding:0 15px;
    cursor: pointer;
    color:#fff;
    height: 100%;
    line-height: 50px;
    font-size: 12px;
    &:hover{
        background: rgba(0,0,0,0.1);
    }
    &.active{
        background: rgba(0,0,0,0.1);
    }
}
.logo-large-icon,.logo-small-icon{
    height: 50px;
    width:170px;
    text-align: center;
    transition: all 0.2s ease;
}
.logo-small-icon{
    width:50px;
}
.inside-menu-tab {
    position: absolute;
    background: #fff;
    z-index: 1995;
    left: 50%;
    transform: translateX(-50%);
    box-shadow: rgba(0, 0, 0, 0.1) 0 0 5px 0;
    div {
      width: 90px;
      height: 90px;
      float: left;
      color: $textColor;
      text-align: center;
      position: relative;
      i {
        margin-top: 15px;
      }
      h5 {
        font-size: 12px;
        font-weight: normal;
        width: 100%;
        line-height: 25px;
        position: absolute;
        bottom: 10px;
        left: 0px;
      }
    }
    div:hover {
      background: #f1f3f6;
    }
}
.header-right{
    position: absolute;
    right:0px;
    top:0;
    width:62px;
    .header-notice{
        float: left;
        position: relative;
        .more-router{
            position: absolute;
            top:50px;
            right:0;
            i{
                vertical-align: baseline;
            }
            h5{
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
                display: inline-block;
                width: 230px;
                font-size: 14px;
                font-weight: normal;
            }
        }
    }
    .head-img-box{
        position: relative;
        height: 50px;
        // float: left;
        // line-height: 50px;
        height: 50px;
        img{
            width:32px;
            height: 32px;
            vertical-align: middle;
            border-radius: 50%;
        }
        .more-router{
            position: absolute;
            right:0;
            top:50px;
            width:280px;
            border:0;
            z-index: 10000;
            .info-box{
                background:$globalMainColor;
                padding:16px;
                text-align: center;
                img{
                    height: 90px;
                    width:90px;
                    border-radius: 50%;
                    margin-bottom:10px;
                }
                p{
                    color:#fff;
                    font-size: 16px;
                    line-height: 1.4;
                    &.small-p{
                        font-size: 12px;
                    }
                }
            }
            .info-btn-box{
                text-align: center;
            }
        }
    }
}
.logo-div {
    padding-left: 3px;
    padding-right: 70px;
    font-weight: bold;
    color: #f6f6f6;
    max-height: 50px;
    img{
      margin-right: 40px;
    }
    p{
      position: absolute;
      top:50%;
      left:65px;
      font-size: 16px;
      height: 50px;
      line-height: 50px;
      font-weight: normal;
      transform: translateY(-50%);
    }
  }