@import "./../../../assets/globalStyle.scss";
.block-text{
    display: inline-block;
    padding:0 6px;
    border:1px solid #dddddd;
    border-radius: 3px;
    color:#707070;
    margin: 0 6px 5px 0;
    line-height: 18px;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.click-btn{
    cursor:pointer;
    color:$globalMainColor;
    border:1px solid $globalMainColor;
    -moz-user-select:none;/*火狐*/
    -webkit-user-select:none;/*webkit浏览器*/
    -ms-user-select:none;/*IE10*/
    -khtml-user-select:none;/*早期浏览器*/
    user-select:none;
}
.click-text{
    color:$globalMainColor;
    cursor: pointer;
}