@import '@/assets/globalStyle.scss';
.detail-header{
    background: #fff;
    padding:5px 0 5px 10px;
    &::before{
        left:0;
    }
}
.add-btn{
    float: right;
}
.table-box{
    border:1px solid #dcdee2;
    border-bottom:0;
}
.case-content{
    padding-top:10px;
    border-top:1px solid $borderColor;
}
.add-icon{
    float: left;
    width: 27px;
    text-align: center;
    line-height: 32px;
    span{
        font-size: 14px;
        cursor: pointer;
        vertical-align: middle;
        color:$globalMainColor;
        &.icon-down-01{
            color:$errorColor;
        }
    }
}
// 快递流水样式
.time-line-body{
    padding:16px;
    .line-right{
        padding-left: 0;
        .line-name{
            display: inline-block;
            margin-right: 0px;
            width: calc(100% - 130px);
        }
    }
} 

.viewer-img-box{
    position: absolute;
    left:-9999px;
}

.lawsuit-btn{
    margin-left:20px;
}